<div class="grid-container">
    <header class="header">
        <div class="headerLogo">logo</div>
        <div class="headerLogin"></div>
    </header>
    <aside class="sidenav"></aside>
    <main class="main">
        
    </main>
    <footer class="footer"></footer>
</div>
